@use "../../../assets/css/global.styles.scss" as *;

.sidebar {
  width: 220px;
  border-right: 1px solid $color-border;
  background: $color-surface;
  padding: 12px;
  min-height: calc(100vh - 56px);
}
.item {
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  color: $color-text;
  font-weight: 500;
  margin-bottom: 4px;
}
.item:hover {
  background: #000;
  color: #fff;
}
.active {
  background: $color-primary;
  color: #fff;
}
.active:hover {
  background: $color-primary-hover;
}
